h1, a, button
  margin-top: 0
  font-family: 'Barlow Condensed', sans-serif

h1
  font-size: 50px
  line-height: 1

body
  font-family: 'Barlow', sans-serif
  font-size: 18px
  margin: 0
  padding: 0

.division
  font-size: 40px
  color: hsl(231, 7%, 65%)
  height: 70px


.nav-bar
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin: 0 10%
  position: relative

.links-bar
  display: grid
  grid-template-columns: repeat(3,1fr) 0.5fr 1fr
  grid-gap: 40px
  align-items: center
  text-align: right
  a
    text-decoration: none
    color: black
    font-weight: 600
    // &:hover
    //   text-decoration: underline

.main-container
  display: grid
  grid-template-columns: repeat(2,1fr)
  grid-gap: 40px
  position: relative
  margin: 5% 10%


.background
  width: 900px
  height: 600px
  border-radius: 0 0 0 50px
  background-color: hsl(207, 33%, 95%)
  position: absolute
  z-index: -1
  top: -100%
  right: -20%

.left-container
  margin-right: 20%
  p
    color: hsl(231, 7%, 65%)
  a
    text-decoration: none
    color: hsl(231, 7%, 65%)
    font-weight: 400
    // &:hover
    //   text-decoration: underline

.right-container
  position: absolute
  right: -35%
  top: 0
.content-top
  display: grid
  grid-template-columns: 0.2fr repeat(2,0.3fr)
  grid-gap: 10px
  margin-right: 15%
  text-align: center
  align-items: baseline
  color: hsl(231, 7%, 65%)
  font-size: 14px

.buttons-part
  display: grid
  grid-template-columns: repeat(2,1fr)
  grid-gap: 30px
  align-items: baseline
  margin: 20% 0

.active
  transform: translateY(3px)
  transition: all 0.3 #FF7F50

#login
  color: hsl(231, 7%, 65%)

#p-tag
  background-color: black
  color: white
  width: 70px
  line-height: 2
  border-radius: 30px

#schedule-button
  border-radius: 10px
  border: 0
  background-color: #FF7F50
  color: white
  height: 50px
  padding: 10px
  font-weight: 600
  font-size: 14px
  cursor: pointer
  outline: none
  transition: width 0.2s
  // &:hover
  //   background-color: lighten(#FF7F50, 10%)
  &:active
    transform: translateY(3px)

#text-tag
  margin-right: 40%
