h1, a, button
  margin-top: 0
  font-family: 'Barlow Condensed', sans-serif

h1
  font-size: 50px
  line-height: 1

body
  font-family: 'Barlow', sans-serif
  font-size: 18px
  margin: 0
  padding: 0
//
.division
  font-size: 40px
  color: hsl(231, 7%, 65%)
  margin: 0
  height: 90px

//
//
// .links-bar
//   display: grid
//   grid-template-columns: repeat(3,1fr) 0.5fr 1fr
//   grid-gap: 40px
//   align-items: center
//   text-align: right
//   a
//     text-decoration: none
//     color: black
//     font-weight: 600
// //     // &:hover
// //     //   text-decoration: underline
// //
.main-container
  display: grid
  grid-template-columns: repeat(2,1fr)
  grid-gap: 40px
  position: relative
  margin: 5% 10%
//
//
.background
  width: 900px
  height: 600px
  border-radius: 0 0 0 50px
  background-color: hsl(207, 33%, 95%)
  position: absolute
  z-index: -1
  top: -100%
  right: -20%
//
.left-container
  margin-right: 20%
  p
    color: hsl(231, 7%, 65%)
  a
    text-decoration: none
    color: hsl(231, 7%, 65%)
    font-weight: 400
    // &:hover
    //   text-decoration: underline

.right-container
  position: absolute
  right: -35%
  top: 0
.content-top
  display: grid
  grid-template-columns: 0.2fr repeat(2,0.3fr)
  grid-gap: 10px
  margin-right: 15%
  text-align: center
  align-items: baseline
  color: hsl(231, 7%, 65%)
  font-size: 14px
//
.buttons-part
  display: grid
  grid-template-columns: repeat(2,1fr)
  grid-gap: 30px
  align-items: baseline
  margin: 20% 0
//
.active
  transform: translateY(3px)
//
#login
  color: hsl(231, 7%, 65%) !important
//
#p-tag
  background-color: black
  color: white
  width: 70px
  line-height: 2
  border-radius: 30px
//
#schedule-button
  border-radius: 10px
  border: 0
  background-color: #FF7F50
  color: white
  height: 50px
  padding: 10px
  font-weight: 600
  font-size: 14px
  cursor: pointer
  outline: none
  transition: width 0.2s
  &:active
    transform: translateY(3px)
//   // &:hover
//   //   background-color: lighten(#FF7F50, 10%)
//
#text-tag
  margin-right: 40%

.horizontal
  display: block
.button-1
  visibility: visible
  height: 20px
  outline: none
  border: 0
.button-2
  position: absolute
  right: 20px
  visibility: hidden
  outline: none
  border: 0

@media (max-width: 800px)
  h1
    font-size: 40px
  .nav-bar
    margin: 2%
    display: grid
    grid-template-columns: repeat(2,1fr)
    grid-gap: 5%
  .navbar-nav
    background-color: white
    width: 200%
    text-align: center
    display: block

  .division
    display: none
  .horizontal
    display: block
    width: 80px
    color: black
    color: black !important
  .main-container
    display: block
    margin: 20% 5%
  .left-container
    display: block
    position: absolute
    top: 150%
    margin-right: 0
  .right-container
    width: 40%
    position: static
    bottom: -50%
    img
      width: 400px
  .content-top
    margin-right: 0
    grid-template-columns: 0.2fr repeat(2,0.5fr)
  #text-tag
    margin-right: 20%
  footer
    position: fixed
    bottom: -5%
    text-align: center
    left: 15%
  .background
    width: 250px
    height: 450px
    border-radius: 0 0 0 50px
    background-color: hsl(207, 33%, 95%)
    position: absolute
    z-index: -1
    top: -100%
    right: -20%

.navbar
  display: grid
  grid-template-columns: repeat(2,1fr)
  grid-gap: 40px
  margin: 5% 10%
  background: none !important
  color: white
  position: relative

.navbar-collapse
  text-align: right

.navbar-nav
  margin-left: 10%
  align-items: baseline

.nav-item
  margin: 0 5%

.nav-link
  color: black !important
  font-weight: 600

.navbar-toggler
  width: 50%
  margin-left: 60%
